/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; /* Ensure the page takes full height */
}
/* In your main CSS file (e.g., index.css, App.css, or global.css) */
html, body {
  height: 100%;
  overflow: auto;  /* Allows scrolling */
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif; /* You can use any font you prefer */
  background-color: #b9e7b2;  /* Light green background */
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
